@import "tailwindcss";

@theme {
  --color-primary: #f6a28d;
  --color-secondary: #b76e79;
  --color-tertiary: #b39eb5;
  --color-background: #f9f8f6;
  --color-foreground: #4a3b32;
  --radius-glass: 2rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

html,
body {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
